@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                <img class="card-img-top" src="~/assets/images/home/leaning-home-img.jpg" alt="Card image cap" />
                <div class="card-body">
                        <h5 class="card-title">Custom Course Generator</h5>
                    <p class="card-text">
                        Design your learning journey! Create personalized courses based on your experience, achievements, and learning goals. Tailor your path to master new skills at your own pace.
                    </p>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-3">
                <figure class="p-3 mb-0">
                    <blockquote class="blockquote">
                        <p>Celebrate your milestones! Keep track of your achievements and badges as you level up in your coding and learning journey.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 text-muted">
                    Personalized <cite title="Source Title">progress tracking</cite>
                    </figcaption>
                </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                <img class="card-img-top" src="~/assets/images/home/code-home-img.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Online Coding Portal</h5>
                    <p class="card-text">
                        Code in real-time with our online compiler! Practice your skills, test your algorithms, and see instant results in a fully interactive coding environment
                    </p>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card bg-primary text-white text-center p-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>Access and share reusable code snippets! Explore a library of ready-to-use code examples or contribute your own to help others solve common challenges.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 text-white">
                    Personalized <cite title="Source Title">coode snippet library</cite>
                    </figcaption>
                </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Learner Dashboard</h5>
                    <p class="card-text">Track your progress and achievements with a personalized learner dashboard. Monitor your course completions, skill improvements, and stay motivated with real-time feedback.</p>
                    <p class="card-text"><small class="text-muted">Learner Dashboard</small></p>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                <img class="card-img-top" src="~/assets/images/home/forum-home-img.jpg" alt="Card image cap" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-3 text-end">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>Connect with a community of learners and developers. Share insights, ask questions, and get advice from experts in a collaborative forum space.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 text-muted">
                    Forum Portal 
                    </figcaption>
                </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-3 text-end">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>Learn in the language of your choice. Our platform supports multiple languages, allowing you to comfortably navigate and study in your preferred language.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 text-muted">
                    Multi-language Support 
                    </figcaption>
                </figure>
                </div>
            </div>
            </div>
    </div>
    <!-- / Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by
                <a>Dev_Spark Team</a>
            </div>
        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

@section Scripts {

        <script src="~/theme/v1/assets/vendor/libs/masonry/masonry.js"></script>
}