@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">
        <!--left card-->
        <div class="col-8">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card text-center">
                        <div class="card-header">Featured</div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">2 days ago</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card text-center">
                        <div class="card-header">Featured</div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">2 days ago</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card text-center">
                        <div class="card-header">Featured</div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural.</p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">2 days ago</div>
                    </div>
                </div>
            </div>
        </div>


        <!--right card-->
        <div class="col-4">
            <div class="row">
                <div class="col-12 text-center">
                    <a href="@Url.Action("Index", "Course", new { Area = "LearnerPortal"})" class="btn btn-primary btn-lg" type="button">Create New Course</a>
                </div>
            </div>
        </div>
        
    </div>

</div>
<!-- / Content -->