@using devspark_core_model.ForumPortalModels
@model Question

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Edit Question</h4>


    <div class="row">
        <div class="col-xl">

            <div class="card mb-4">

                <div class="card-body">
                    <form asp-controller="ForumPortal" asp-action="UpdateQuestion" id="QuestionUpdate" method="POST">
                        <!-- Hidden field for questionId -->
                        <input type="hidden" asp-for="QuestionId" />
                        
                         
                        <div class="mb-3">
                            <label asp-for="Title" class="form-label">@Html.DisplayNameFor(Model => Model.Title)</label>
                            <p class="text-muted fw-light">Be specific and imagine you’re asking a question to another person.</p>
                            <input type="text" asp-for="Title" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">@Html.DisplayNameFor(Model => Model.Description)</label>
                            <p class="text-muted fw-light">Introduce the problem and expand on what you put in the title.</p>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        @if (Model.UserId == ViewBag.loggedUserId)
                        {
                            <button type="submit" class="btn btn-primary">Update Question</button>
                        }
                        else
                        {
                             <button type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="tooltip"
                                    data-bs-offset="0,4"
                                    data-bs-placement="right"
                                    data-bs-html="true"
                                    title="<i class='bx bx-trending-up bx-xs' ></i> <span>You don't have access to update this question</span>">
                                Update Question
                            </button> 
                           
                        }

                            
                   

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>